<!-- Central -->
<div class="container-fluid text-center">
    <div class="row">
        <!-- Planos Ativos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-invisible shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-center">
                                <i class="fas fa-inbox fa-2x"></i>
                                Planos Ativos
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="text-center">
                                    <div class="h6 mb-0 mr-3  text-gray-800">
                                        Total<br>
                                        @Model.PlanosAtivos
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <span class="border-left-info"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-justify">
                            <i class="fas fa-arrow-up"></i>
                            @*%*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pacientes -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-invisible shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-center">
                                <i class="fas fa-user-injured fa-2x"></i>
                                Pacientes
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto text-center lp-up">
                                    <div class="h6 mb-0 mr-3 text-gray-800">
                                        Total<br>
                                        @Model.Pacientes
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <span class="border-left-info"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-justify hp-up">
                            <i class="fas fa-arrow-down"></i>
                            @*%*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Médicos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-invisible shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-center">
                                <i class="fas fa-user-md fa-2x"></i>
                                Médicos
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="text-center lp-up">
                                    <div class="h6 mb-3 mr-3 text-center text-gray-800">
                                        Total<br>
                                        @Model.Médicos
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <span class="border-left-info"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto text-justify hp-up">
                            <i class="fas fa-arrow-down"></i>
                            @*%*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Agenda -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-invisible shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-center">
                                <i class="fas fa-calendar-alt fa-2x"></i>
                                Agenda
                            </div>
                            <div class="row no-gutters align-items-center text-justify">
                                <div class="col-auto lp-up">
                                    <div class="h6 mb-0 mr-3 text-center text-gray-800">
                                        Hoje<br>

                                        @if (Model.ContatosRealizados != null && Model.ContatosRealizados.Count() > 0)
                                        {
                                        @Model.ContatosRealizados.Count()
                                        }
                                        else
                                        {
                                        @Model.ContatosRealizados.Count()
                                        }

                                    </div>
                                </div>
                                <div class="col text-center">
                                    <span class="border-left-info"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto h6 mb-0 mr-3 text-gray-800 text-center agp-up">
                            Atrasado<br>
                            @if (Model.ContatosAtrasados != null && Model.ContatosAtrasados.Count() > 0)
                            {

                            @Model.ContatosAtrasados.Count()
                            }
                            else
                            {
                            @Model.ContatosAtrasados.Count()
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Central -->

<!-- Gráfico Inferior -->
  <div class="container-fluid">
    <div class="row">
        <!-- Efeitos Colaterais -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                    <div class="card-header py-3 text-center">
            <h6 class="m-0 font-weight-bold text-primary">Efeitos Colaterais</h6>
          </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="col text-center lp-bt">
                                <span>Sintomas Manejados</span>
                            </div>
                            <div class="col">
                                <canvas id="sintomas-chart"></canvas>
                            </div>
                            <hr>
                            <div class="col text-center lp-bt">
                                <span>Encaminhados ao<br>Pronto atendimento</span>
                            </div>
                            <div class="col">
                                <canvas id="encaminhados-chart"></canvas>
                            </div>
                        </div>
                        <div class="col-xl-8 " style="border-left: 1px solid black;">
                            <div class="row h-100">
                                <div class="col-6 col-sm-6 my-auto">
                                    <canvas id="total-chart"></canvas>
                                </div>
                                <div class="col-6 col-sm-6 my-auto">
                                    <canvas id="sucesso-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Visão Geral dos Planos Terapêuticos -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-center">
                    Visão Geral dos Planos Terapêuticos
                    </div>
                </div>
                <div class="card-body">
                    <div class="">
                        <canvas id="visao-chart" width="800" height="360"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>